@import "fonts/apexnew/style.css";

body {
  color: white;
  background-color: #1E2327;
  font-family: "ApexNew-Book";
}
.index-title {
  font-family: "ApexNew-Medium";
  font-size: 60px;
  text-align: center;
  letter-spacing: 0.2em;
}

.current-pos {
  font-family: "ApexNew-ThinItalic";
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2em;
}
