#uottawa-link {
  color: #CACACA;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

#uottawa-link:hover {
  transform: scale(1.1);
  font-weight: bold;
  transform-origin: center;
  color: #D8464B;
}

section {
  margin-bottom: 1em;
}

img {
  float: right;
  object-fit: contain;
  width: 50%;
  height: 50%;
  padding-left: 3em;
}

.container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column-reverse;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0em;
  }
}
