@charset "utf-8";

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height: 3em;
  letter-spacing: 0.2em;
}

li {
  display: inline;
  float:left;
}

a {
  display: block;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: white;
  text-decoration: none;
}

.title-wrapper {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title-name {
  font-family: "ApexNew-Medium";
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 0.75em;
}

.current-pos {
  /* font-family: "ApexNew-ThinItalic"; */
  font-family: "Consolas";
  font-size: 1em;
  text-align: center;
  /* text-transform: uppercase;*/
  letter-spacing: 0.25em;
  line-height: 0.1em;
}

/* #hey, #ima {
  text-align: center;
  font-family: "Consolas";
} */
