@charset "utf-8";

.title-wrapper {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title-name {
  font-family: "ApexNew-Medium";
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 0.75em;
}

.current-pos {
  /* font-family: "ApexNew-ThinItalic"; */
  font-family: "Consolas";
  font-size: 1em;
  text-align: center;
  /* text-transform: uppercase;*/
  letter-spacing: 0.2em;
  line-height: 0.1em;
}

/* #hey, #ima {
  text-align: center;
  font-family: "Consolas";
} */
