@charset "utf-8";


nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    line-height: 3em;
    letter-spacing: 0.2em;
}

li {
    display: inline;
    float:left;
}

a {
    display: block;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: white;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover {
    transform: scale(1.2);
}

.title-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/blue-space.jpg);
    text-align: center;
    padding: 0;
    margin:0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}

.title-name {
    font-family: "ApexNew-Medium";
    font-weight: lighter;
    font-size: 8em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1em;
    margin-top: 0.5em;
}


.current-pos {
    /* font-family: "ApexNew-ThinItalic"; */
    font-family: "Inconsolata";
    font-weight: lighter;
    font-size: 0.75em;
    text-align: right;
    padding-right: 7em;
    padding-top: 5em;
    /* text-transform: uppercase;*/
    letter-spacing: 0.25em;


}


.section-title {
    text-align: center;
    padding: 5em;
    letter-spacing: 0.5em;
    font-size: 0.85em;
}
h3.section-title {
    font-family: "Consolas";
    font-weight: lighter;
}

.about {
    margin-top: 2.5em;
}

div.myface img {
    /* center */
    display: block;
    margin-left: auto;
    margin-right: auto;

    width:400px;
    height:400px;
    object-fit: cover;
}

.text {
    font-family: "Inconsolata";
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
    line-height: 1.5em;

    height: 25%;
    width: 25%;

    padding: 3em;
    display: block;
    margin: auto;
}
