@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap");

html {
  background-color: #282828;
}

body {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-weight: 400;
}

.bottom {
  font-size: 0.65rem;
  font-weight: 200;
  opacity: 0.75;
  letter-spacing: 0.1em;
}

header {
  color: #7cd2fa;
  font-size: 2rem;
  margin: 5vh 0 2vh 0;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
}

.header-link {
  transition: all 0.2s ease-in-out;
}

.header-link:hover {
  transform: scale(1.1);
  text-transform: uppercase;
  transform-origin: center;
  color: #d8464b;
}

.nav-links {
  color: #fff;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 15px 20px;
}

.nav-links:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-links:hover:after {
  width: 100%;
  left: 0;
}

.wrapper {
  width: 70%;
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}

.page-name {
  text-align: left;
}

p {
  text-align: left;
}
