@charset "utf-8";
@import "fonts/apexnew/style.css";

html {
    scroll-behavior: smooth;
}
body {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/nightsky.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Inconsolata";
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin:0;
    padding: 0;
    animation: shrink 15s infinite alternate;
    animation-timing-function:ease-in-out;

    perspective: 1px;
    transform-style: preserve-3d;
}

p {
    font-family: "Arial";
    letter-spacing: 0.025em;
}
